
IO/Assemble_Data.txt
.vs/Muscles/v16/.suo
IO/Assemble_Result.txt
IO/NonLinearSolve_Data.txt
IO/NonLinearSolve_Result.txt
Muscles/bin/Muscles.gha
Muscles/bin/Muscles.pdb
Muscles/obj/Debug/Muscles.pdb
Muscles/obj/Debug/Muscles.dll
Muscles/obj/Debug/Muscles.csprojAssemblyReference.cache
Muscles/obj/Debug/Muscles.csproj.FileListAbsolute.txt
Muscles/obj/Debug/Muscles.csproj.CoreCompileInputs.cache
MusclesPy/__pycache__/StructureObj.cpython-37.pyc
Logs/LogFile.txt
MusclesPy/.idea/vcs.xml
Muscles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Muscles/obj/Debug/Muscles.csproj.CoreCompileInputs.cache
Muscles/obj/Debug/Muscles.pdb
Muscles/bin/Muscles.pdb
Muscles/obj/Debug/Muscles.csprojAssemblyReference.cache
Muscles/obj/Debug/Muscles.pdb
Muscles/bin/Muscles.gha
Muscles/.vs/Muscles.csproj.dtbcache.json
.vs/Muscles/v17/.suo
.vs/Muscles/FileContentIndex/5776bbb2-8591-4762-9481-16cc5397e5c2.vsidx
.vs/Muscles/v17/DocumentLayout.backup.json
.vs/Muscles/v17/DocumentLayout.json
Muscles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Muscles/obj/Debug/Muscles.csproj.AssemblyReference.cache
Muscles/obj/Debug/Muscles.csproj.Up2Date
Muscle/.vs/Muscle/DesignTimeBuild/.dtbcache.v2
Muscle/.vs/Muscle/FileContentIndex/0372a5ba-df49-466a-a4e7-eb548bc17a45.vsidx
Muscle/.vs/Muscle/v17/.futdcache.v2
Muscle/.vs/Muscle/v17/.suo
Muscle/.vs/Muscle/v17/DocumentLayout.backup.json
Muscle/.vs/Muscle/v17/DocumentLayout.json
Muscle/.vs/ProjectEvaluation/muscle.metadata.v9.bin
Muscle/.vs/ProjectEvaluation/muscle.projects.v9.bin
Muscle/.vs/ProjectEvaluation/muscle.strings.v9.bin
Muscle/bin/Debug/net48/Muscle.gha
Muscle/bin/Debug/net48/Muscle.pdb
Muscle/obj/Debug/net48/Muscle.AssemblyInfo.cs
Muscle/obj/Debug/net48/Muscle.AssemblyInfoInputs.cache
Muscle/obj/Debug/net48/Muscle.assets.cache
Muscle/obj/Debug/net48/Muscle.csproj.AssemblyReference.cache
Muscle/obj/Debug/net48/Muscle.csproj.CoreCompileInputs.cache
Muscle/obj/Debug/net48/Muscle.csproj.GenerateResource.cache
Muscle/obj/Debug/net48/Muscle.GeneratedMSBuildEditorConfig.editorconfig
Muscle/obj/Debug/net48/Muscle.gha
Muscle/obj/Debug/net48/Muscle.pdb
Muscle/.vs/Muscle/v17/.suo
Muscle/obj/Debug/net48/Muscle.AssemblyInfo.cs
Muscle/obj/Debug/net48/Muscle.AssemblyInfoInputs.cache
Muscle/obj/Debug/net48/Muscle.csproj.AssemblyReference.cache
Muscles/bin/Muscles.gha
Muscles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.v2
Muscle/.vs/Muscle/v17/.suo
