
IO/Assemble_Data.txt
.vs/Muscles/v16/.suo
IO/Assemble_Result.txt
IO/NonLinearSolve_Data.txt
IO/NonLinearSolve_Result.txt
Muscles/bin/Muscles.gha
Muscles/bin/Muscles.pdb
Muscles/obj/Debug/Muscles.pdb
Muscles/obj/Debug/Muscles.dll
Muscles/obj/Debug/Muscles.csprojAssemblyReference.cache
Muscles/obj/Debug/Muscles.csproj.FileListAbsolute.txt
Muscles/obj/Debug/Muscles.csproj.CoreCompileInputs.cache
MusclesPy/__pycache__/StructureObj.cpython-37.pyc
Logs/LogFile.txt
MusclesPy/.idea/vcs.xml
Muscles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Muscles/obj/Debug/Muscles.csproj.CoreCompileInputs.cache
Muscles/obj/Debug/Muscles.pdb
Muscles/bin/Muscles.pdb
Muscles/obj/Debug/Muscles.csprojAssemblyReference.cache
Muscles/obj/Debug/Muscles.pdb
Muscles/bin/Muscles.gha
Muscles/.vs/Muscles.csproj.dtbcache.json
.vs/Muscles/v17/.suo
.vs/Muscles/FileContentIndex/5776bbb2-8591-4762-9481-16cc5397e5c2.vsidx
.vs/Muscles/v17/DocumentLayout.backup.json
.vs/Muscles/v17/DocumentLayout.json
Muscles/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Muscles/obj/Debug/Muscles.csproj.AssemblyReference.cache
Muscles/obj/Debug/Muscles.csproj.Up2Date
